.contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
  }
  
  .row-datos {
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  
  .row-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
    border: 1px solid #cccccc;
    thead {
      background-color: #dddddd;
    }
    td {
      padding: 5px;
    }
    th {
      padding: 5px;
    }
  }
  