<div class="container">
  <app-navbar title="Edición del perfil de la empresa"></app-navbar>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">business</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">
            Editar perfil
          </h4>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-2">
                <img
                  src="assets/img/logo_empresa.png"
                  alt="Empresa logo"
                  height="100%"
                  width="100%"
                />
              </div>
              <div class="col-md-10">
                <form
                  [formGroup]="editProfileCompanyForm"
                  (ngSubmit)="editProfileCompany()"
                >
                  <!--Nombre y razon social-->
                  <div class="row">
                    <!--nombre-->
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="Nombre comercial"
                          formControlName="nombre_comercial"
                        />
                        <mat-error
                          *ngIf="
                            nombre_comercial.invalid &&
                            nombre_comercial.errors != null &&
                            nombre_comercial.errors.required
                          "
                        >
                          El nombre comercial es obligatorio
                        </mat-error>

                        <mat-error
                          *ngIf="
                            nombre_comercial.invalid &&
                            nombre_comercial.errors != null &&
                            nombre_comercial.errors.minlength
                          "
                        >
                          El nombre comercial debe tener al menos 3 caracteres
                        </mat-error>

                        <mat-error
                          *ngIf="
                            nombre_comercial.invalid &&
                            nombre_comercial.errors != null &&
                            nombre_comercial.errors.maxlength
                          "
                        >
                          El nombre comercial no puede tener mas de 255
                          caracteres
                        </mat-error>

                        <mat-error
                          *ngIf="
                            nombre_comercial.invalid &&
                            nombre_comercial.errors != null &&
                            nombre_comercial.errors.espacio
                          "
                        >
                          El nombre comercial no puede empezar o terminar con un
                          espacio en blanco
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!--razon social-->
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="Razón social"
                          formControlName="razon_social"
                        />
                        <mat-error
                          *ngIf="
                            razon_social.invalid &&
                            razon_social.errors != null &&
                            razon_social.errors.required
                          "
                        >
                          La razón social es obligatoria
                        </mat-error>

                        <mat-error
                          *ngIf="
                            razon_social.invalid &&
                            razon_social.errors != null &&
                            razon_social.errors.minlength
                          "
                        >
                          La razón social debe tener al menos 3 caracteres
                        </mat-error>

                        <mat-error
                          *ngIf="
                            razon_social.invalid &&
                            razon_social.errors != null &&
                            razon_social.errors.maxlength
                          "
                        >
                          La razón social no puede tener mas de 255 caracteres
                        </mat-error>

                        <mat-error
                          *ngIf="
                            razon_social.invalid &&
                            razon_social.errors != null &&
                            razon_social.errors.espacio
                          "
                        >
                          La razón social no puede empezar o terminar con un
                          espacio en blanco
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!--Cif-->
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="CIF"
                          formControlName="cif"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- provincia y municipio -->
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <mat-label>Provincia</mat-label>
                        <mat-select
                          placeholder="Provincia"
                          (selectionChange)="changeProvincia($event)"
                          formControlName="provincia"
                        >
                          <mat-option>
                            Seleccione provincia..
                          </mat-option>

                          <mat-option
                            *ngFor="let p of provincias"
                            [value]="p.uid"
                          >
                            {{ p.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="
                            provincia.invalid &&
                            provincia.errors != null &&
                            provincia.errors.required
                          "
                        >
                          La provincia es obligatoria
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <mat-label>Municipio</mat-label>
                        <mat-select
                          formControlName="municipio"
                          placeholder="Municipio"
                        >
                          <mat-option>
                            Seleccione municipio..
                          </mat-option>

                          <mat-option
                            *ngFor="let m of municipios"
                            [value]="m.uid"
                          >
                            {{ m.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="
                            municipio.invalid &&
                            municipio.errors != null &&
                            municipio.errors.required
                          "
                        >
                          El municipio es obligatorio
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- Direccion -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field color="accent" style="width: 100%;">
                        <input
                          matInput
                          type="text"
                          placeholder="Dirección"
                          formControlName="direccion"
                        />
                        <mat-error
                          *ngIf="
                            direccion.invalid &&
                            direccion.errors != null &&
                            direccion.errors.required
                          "
                        >
                          La dirección es obligatoria
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <!--url-->
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="Url"
                          formControlName="url"
                        />
                        <mat-error
                          *ngIf="
                            url.invalid &&
                            url.errors != null &&
                            url.errors.required
                          "
                        >
                          La url es obligatoria
                        </mat-error>
                        <mat-error
                          *ngIf="
                            url.invalid &&
                            url.errors != null &&
                            url.errors.pattern
                          "
                        >
                          La url no es correcta
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--datos de contacto-->
                  <div class="row">
                    <!--person de contacto-->
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="Persona de contacto"
                          formControlName="contacto_nombre"
                        />
                        <mat-error
                          *ngIf="
                            contacto_nombre.invalid &&
                            contacto_nombre.errors != null &&
                            contacto_nombre.errors.required
                          "
                        >
                          El nombre es obligatorio
                        </mat-error>

                        <mat-error
                          *ngIf="
                            contacto_nombre.invalid &&
                            contacto_nombre.errors != null &&
                            contacto_nombre.errors.minlength
                          "
                        >
                          El nombre debe tener al menos 3 caracteres
                        </mat-error>

                        <mat-error
                          *ngIf="
                            contacto_nombre.invalid &&
                            contacto_nombre.errors != null &&
                            contacto_nombre.errors.maxlength
                          "
                        >
                          El nombre no puede tener mas de 255 caracteres
                        </mat-error>

                        <mat-error
                          *ngIf="
                            contacto_nombre.invalid &&
                            contacto_nombre.errors != null &&
                            contacto_nombre.errors.espacio
                          "
                        >
                          El nombre no puede empezar o terminar con un espacio
                          en blanco
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!--telefono-->
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="Teléfono"
                          formControlName="contacto_telefono"
                        />
                        <mat-error
                          *ngIf="
                            contacto_telefono.invalid &&
                            contacto_telefono.errors != null &&
                            contacto_telefono.errors.required
                          "
                        >
                          El teléfono es obligatorio
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- email de contacto -->
                    <div class="col-md-4">
                      <mat-form-field color="accent">
                        <input
                          matInput
                          type="text"
                          placeholder="Email"
                          formControlName="contacto_mail"
                        />
                        <mat-error
                          *ngIf="
                            contacto_mail.invalid &&
                            contacto_mail.errors != null &&
                            contacto_mail.errors.required
                          "
                        >
                          El email es obligatorio
                        </mat-error>
                        <mat-error
                          *ngIf="
                            contacto_mail.invalid &&
                            contacto_mail.errors != null &&
                            contacto_mail.errors.email
                          "
                        >
                          El email no tiene un formato válido
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row action-btn-center">
                    <button
                      type="submit"
                      [disabled]="!editProfileCompanyForm.valid"
                      md-raised-button
                      class="btn btn-rose"
                    >
                      Editar perfil
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
