<div class="container">
  <app-navbar title="Edición de perfil de usuario"></app-navbar>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">
            Edición de perfil de usuario
            <small class="category"
              >Crea un perfil de usuario atractivo para las empresas</small
            >
          </h4>

          <div class="row">
            <div class="col-md-2">
              <img
                src="assets/img/user.png"
                alt="User"
                height="100%"
                width="100%"
                onclick="alert('Subir documento - pendiente');"
              />
            </div>
            <div class="col-md-10">
              <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        placeholder="Nombre"
                        formControlName="name"
                      />
                      <mat-error
                        *ngIf="
                          name.invalid &&
                          name.errors != null &&
                          name.errors.required
                        "
                      >
                        El nombre es obligatorio
                      </mat-error>

                      <mat-error
                        *ngIf="
                          name.invalid &&
                          name.errors != null &&
                          name.errors.minlength
                        "
                      >
                        El nombre debe tener al menos 3 caracteres
                      </mat-error>

                      <mat-error
                        *ngIf="
                          name.invalid &&
                          name.errors != null &&
                          name.errors.maxlength
                        "
                      >
                        El nombre no puede tener mas de 55 caracteres
                      </mat-error>

                      <mat-error
                        *ngIf="
                          name.invalid &&
                          name.errors != null &&
                          name.errors.espacio
                        "
                      >
                        El nombre no puede empezar o terminar con un espacio en
                        blanco
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        placeholder="Apellidos"
                        formControlName="surname"
                      />

                      <mat-error
                        *ngIf="
                          surname.invalid &&
                          surname.errors != null &&
                          surname.errors.required
                        "
                      >
                        El apellido es obligatorio
                      </mat-error>

                      <mat-error
                        *ngIf="
                          surname.invalid &&
                          surname.errors != null &&
                          surname.errors.minlength
                        "
                      >
                        El apellido debe tener al menos 3 caracteres
                      </mat-error>

                      <mat-error
                        *ngIf="
                          surname.invalid &&
                          surname.errors != null &&
                          surname.errors.maxlength
                        "
                      >
                        El apellido no puede tener mas de 55 caracteres
                      </mat-error>

                      <mat-error
                        *ngIf="
                          surname.invalid &&
                          surname.errors != null &&
                          surname.errors.espacio
                        "
                      >
                        El apellido no puede empezar o terminar con un espacio
                        en blanco
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input
                        matInput
                        type="date"
                        formControlName="birthdate"
                        placeholder="Fecha de nacimiento"
                      />
                      <mat-error
                        *ngIf="
                          birthdate.invalid &&
                          birthdate.errors != null &&
                          birthdate.errors.required
                        "
                      >
                        La fecha de nacimiento es obligatoria
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        formControlName="phone"
                        placeholder="Teléfono"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        formControlName="phone2"
                        placeholder="Teléfono 2"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select
                        formControlName="documentType"
                        placeholder="Tipo de documento"
                      >
                        <mat-option>
                          Seleccione tipo de documento..
                        </mat-option>

                        <mat-option
                          *ngFor="let t of tiposDocumentos"
                          [value]="t.uid"
                        >
                          {{ t.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        formControlName="documentNumber"
                        placeholder="Número"
                      />
                      <mat-error
                        *ngIf="
                          editProfileForm.invalid &&
                          editProfileForm.errors != null &&
                          editProfileForm.errors.numeroIdentificacion
                        "
                      >
                        El número de identificación no es válido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- direccion -->
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        placeholder="Dirección"
                        formControlName="address"
                      />
                      <mat-error
                        *ngIf="
                          address.invalid &&
                          address.errors != null &&
                          address.errors.required
                        "
                      >
                        La dirección es obligatoria
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <!--provincia-->
                  <div class="col-md-4">
                    <mat-form-field color="accent">
                      <mat-label>Provincia</mat-label>
                      <mat-select
                        placeholder="Provincia"
                        (selectionChange)="changeProvincia($event)"
                        formControlName="provincia"
                      >
                        <mat-option>
                          Seleccione provincia..
                        </mat-option>

                        <mat-option
                          *ngFor="let p of provincias"
                          [value]="p.uid"
                        >
                          {{ p.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          provincia.invalid &&
                          provincia.errors != null &&
                          provincia.errors.required
                        "
                      >
                        La provincia es obligatoria
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <!--municipio-->
                    <mat-form-field color="accent">
                      <mat-label>Municipio</mat-label>
                      <mat-select
                        formControlName="municipio"
                        placeholder="Municipio"
                      >
                        <mat-option>
                          Seleccione municipio..
                        </mat-option>

                        <mat-option
                          *ngFor="let m of municipios"
                          [value]="m.uid"
                        >
                          {{ m.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          municipio.invalid &&
                          municipio.errors != null &&
                          municipio.errors.required
                        "
                      >
                        El municipio es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- permiso de conducir -->
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        placeholder="Permiso de conducir"
                        formControlName="license"
                      />
                      <mat-error
                        *ngIf="
                          license.invalid &&
                          license.errors != null &&
                          license.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                      <mat-error
                        *ngIf="
                          license.invalid &&
                          license.errors != null &&
                          license.errors.minlength
                        "
                      >
                        Tu campo licencia debe tener al menos 2 caracteres
                      </mat-error>
                      <mat-error
                        *ngIf="
                          license.invalid &&
                          license.errors != null &&
                          license.errors.maxlength
                        "
                      >
                        El campo licencia no puede sobrepasar los 30 caracteres
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <!--Sobre mi -->
                  <div class="col-md-6">
                    <mat-form-field color="accent">
                      <textarea
                        matInput
                        placeholder="Sobre mi"
                        formControlName="aboutMe"
                      ></textarea>
                      <mat-error
                        *ngIf="
                          aboutMe.invalid &&
                          aboutMe.errors != null &&
                          aboutMe.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                      <mat-error
                        *ngIf="
                          aboutMe.invalid &&
                          aboutMe.errors != null &&
                          aboutMe.errors.minlength
                        "
                      >
                        Tu descripción debe tener al menos 30 caracteres
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <!--Otras competencias-->
                    <mat-form-field color="accent">
                      <textarea
                        matInput
                        placeholder="Otras competencias"
                        formControlName="otherCompetences"
                      ></textarea>
                      <mat-error
                        *ngIf="
                          otherCompetences.invalid &&
                          otherCompetences.errors != null &&
                          otherCompetences.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                      <mat-error
                        *ngIf="
                          otherCompetences.invalid &&
                          otherCompetences.errors != null &&
                          otherCompetences.errors.minlength
                        "
                      >
                        El campo debe tener al menos 30 caracteres
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row action-btn-center">
                  <button type="submit" md-raised-button class="btn btn-rose">
                    Editar perfil
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
