<div class="container">
  <app-navbar title="Mis ofertas"></app-navbar>

  <div class="contenedor">
    <div class="row-datos" *ngIf="(userOffers$ | async).length == 0">
      <div class="alert alert-warning alert-with-icon">
        <i class="material-icons alert-icon">notifications</i>
        <strong style="margin-top:20px"
          >Aún no te has inscrito en ninguna oferta. Pasate por la sección de
          <a [routerLink]="['/uojobs/users/offers']" style="font-size: 1.2em;">
            Ofertas
          </a>
          para encontrar alguna que encaje con tu perfil</strong
        >
      </div>
    </div>

    <div class="row-datos" *ngIf="(userOffers$ | async).length > 0">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="material-icons">how_to_reg</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Formación académica</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Puesto</th>
                      <th>Empresa</th>
                      <th>Familia profesional</th>

                      <th>Fecha</th>
                      <th>Ubicación</th>
                      <th>Estado</th>
                      <th class="text-right">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let offer of userOffers$ | async">
                      <td>
                        {{ offer.job?.name }}
                      </td>
                      <td>
                        {{ offer.company?.name }}
                      </td>
                      <td>
                        {{ offer.category?.name }}
                      </td>
                      <td>
                        {{ offer.date }}
                      </td>
                      <td>
                        {{ offer.province?.name }} / {{ offer.municipe?.name }}
                      </td>
                      <td>Pendiente</td>
                      <td class="text-right">
                        <!--
                        <a [routerLink]="" (click)="offerDetail(offer)">
                          Ver
                        </a>
                        -->
                        <a
                          [routerLink]=""
                          (click)="offerDetail(offer)"
                          alt="Ver la oferta"
                        >
                          <span class="material-icons">
                            shop_two
                          </span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
