<div class="contenedor">
  <div class="row-header">
    <h1>Mis Ofertas</h1>
    <a [routerLink]="['/admin/dashboard']">
      Volver al dashboard
    </a>
  </div>

  <div class="row-datos" *ngIf="offers.length == 0">
    Aún no te has inscrito en ninguna oferta. Pasate por la sección de
    <a [routerLink]="['/admin/offers/list']"> Ofertas </a> para encontrar alguna
    que encaje con tu perfil
  </div>

  <div class="row-datos" *ngIf="offers.length > 0">
    <table>
      <thead>
        <tr>
          <th>Puesto</th>
          <th>Empresa</th>
          <th>Familia profesional</th>

          <th>Fecha</th>
          <th>Ubicación</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of offers">
          <td>
            {{ offer.job?.name }}
          </td>
          <td>
            {{ offer.company?.name }}
          </td>
          <td>
            {{ offer.category?.name }}
          </td>
          <td>
            {{ offer.date }}
          </td>
          <td>{{ offer.province?.name }} / {{ offer.municipe?.name }}</td>
          <td>Pendiente</td>
          <td>
            <a
              [routerLink]="['/admin/offers/detail']"
              [queryParams]="{ id: offer.id }"
            >
              Ver
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
