<div class="nav-bar">
  <div class="left-part">
    <!--
    <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    -->
    <h4>{{ title }}</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <button mat-icon-button (click)="dashboard()">
        <i class="material-icons icon-btn">dashboard</i>
      </button>

      <app-msgiconbtn
        icon="notifications"
        number="1"
        [matMenuTriggerFor]="menu"
      ></app-msgiconbtn>
      <button mat-icon-button (click)="profile()">
        <i class="material-icons icon-btn">person</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          Hay nuevas ofertas publicadas
        </button>
      </mat-menu>

      Hola,
      {{ (currentUser$ | async)?.username }}
      {{ (currentCompany$ | async)?.nombre_comercial }}
      <button mat-icon-button (click)="logout()">
        <i class="material-icons icon-btn">exit_to_app</i>
      </button>
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()">
        <i class="material-icons">menu</i>
      </button>
    </div>
  </div>
</div>
