<div class="nav-bar">
  <div class="left-part">
    <!--
    <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    -->
    <h4>{{ title }}</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <button
        mat-icon-button
        (click)="dashboard()"
        *ngIf="currentUser$ | async"
      >
        <i class="material-icons icon-btn">dashboard</i>
      </button>

      <button
        mat-icon-button
        (click)="dashboardCompany()"
        *ngIf="currentCompany$ | async"
      >
        <i class="material-icons icon-btn">dashboard</i>
      </button>

      <app-msgiconbtn icon="notifications" number="1"></app-msgiconbtn>

      <button mat-icon-button *ngIf="currentUser$ | async" (click)="profile()">
        <i class="material-icons icon-btn">person</i>
      </button>

      <button
        mat-icon-button
        *ngIf="currentCompany$ | async"
        (click)="profileCompany()"
      >
        <i class="material-icons icon-btn">person</i>
      </button>

      <mat-menu #menu="matMenu" *ngIf="currentUser$ | async">
        <button mat-menu-item *ngIf="currentUser$ | async">
          Hay nuevas ofertas publicadas
        </button>
        <button mat-menu-item *ngIf="currentCompany$ | async">
          Tienes nuevas ofertas que revisar
        </button>
      </mat-menu>

      Hola,
      {{ (currentUser$ | async)?.username }}
      {{ (currentCompany$ | async)?.nombre_comercial }}
      <button mat-icon-button (click)="logout()">
        <i class="material-icons icon-btn">exit_to_app</i>
      </button>
    </div>
    <div id="menu">
      <button mat-icon-button (click)="menuClick()">
        <i class="material-icons">menu</i>
      </button>
    </div>
  </div>
</div>
