.contenedor {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

.row-datos {
  display: flex;
  flex-direction: row;
  width: 100%;
  #foto {
    flex-grow: 2;
  }
  #datos-basicos {
    flex-grow: 2;
    div {
      margin-top: 10px;
    }
  }
  .acerca-de {
    span {
      display: block;
    }
  }
  .acerca-de-1 {
    flex-grow: 3;
  }
  .acerca-de-2 {
    flex-grow: 3;
  }
  #profile_name {
    display: block;
  }
}

.row-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

table {
  width: 100%;
  border: 1px solid #cccccc;
  thead {
    background-color: #dddddd;
  }
  td {
    padding: 5px;
  }
  th {
    padding: 5px;
  }
}
