<div class="container">
  <app-navbar title="Detalle de la oferta"></app-navbar>

  <div class="container">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">work</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">
              Detalle de la oferta
              <small class="category"
                >Esta es la oferta publicada por la empresa, ¡inscribete si
                estás interesado!</small
              >
            </h4>

            <div class="row">
              <div class="col-md-12" style="margin-bottom: 15px;">
                <h3>Oferta</h3>
              </div>
              <div class="col-md-offset-1 col-md-4">
                <mat-form-field color="accent">
                  <input
                    matInput
                    type="text"
                    placeholder="Empresa"
                    value="{{ (currentOffer$ | async).company?.name }}"
                    readonly="readonly"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-offset-1 col-md-6">
                <mat-form-field color="accent">
                  <input
                    matInput
                    type="text"
                    placeholder="Puesto"
                    value="{{ (currentOffer$ | async).job?.name }}"
                    readonly="readonly"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-offset-1 col-md-8">
                <mat-form-field color="accent" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder="Descripción"
                    value="{{ (currentOffer$ | async).job?.description }}"
                    readonly="readonly"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-offset-3"></div>
              <div class="col-md-12" style="margin-bottom: 15px;">
                <h3>Localización</h3>
              </div>
              <div class="col-md-offset-1 col-md-4">
                <mat-form-field color="accent">
                  <input
                    matInput
                    type="text"
                    placeholder="Provincia"
                    value="{{ (currentOffer$ | async).province?.name }}"
                    readonly="readonly"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-offset-1 col-md-6">
                <mat-form-field color="accent">
                  <input
                    matInput
                    type="text"
                    placeholder="Municipio"
                    value="{{ (currentOffer$ | async).municipe?.name }}"
                    readonly="readonly"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-12" style="margin-bottom: 15px;">
                <h3>Destinado a persona de</h3>
              </div>
              <div class="col-md-offset-1 col-md-5">
                <mat-form-field color="accent" style="width: 100%;">
                  <input
                    matInput
                    type="text"
                    placeholder="Familia profesional"
                    value="{{ (currentOffer$ | async).category?.name }}"
                    readonly="readonly"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-offset-6"></div>
              <div class="col-md-12">
                <h3>Títulos</h3>
              </div>
              <div class="col-md-offset-1 col-md-10">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let t of (currentOffer$ | async).title">
                      <td>
                        {{ t.uid }}
                      </td>
                      <td>
                        {{ t.name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row action-btn-center">
              <div
                *ngIf="{
                  currentUser: currentUser$ | async,
                  currentOffer: currentOffer$ | async,
                  inscrito: inscrito$ | async
                } as data"
                class="contenedor-botones"
              >
                <button
                  md-raised-button
                  class="btn btn-rose"
                  *ngIf="!data.inscrito"
                  (click)="inscribirOferta(data.currentUser, data.currentOffer)"
                >
                  Inscribirse a la oferta
                </button>
                <button
                  md-raised-button
                  class="btn btn-rose"
                  *ngIf="data.inscrito"
                  (click)="borrarseOferta(data.currentUser, data.currentOffer)"
                >
                  Borrarse de la oferta
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
