@import "../../../styles.scss";

.card-header-uojobs {
  background-color: $color3;
  border: 1px solid $color3;
  padding: 10px;
}

.card-uojobs {
  padding: 0;
  border: 1px solid $color3;
}

.card-content-uojobs {
  padding: 20px;
}

.card-actions-uojobs {
  padding: 10px;
  text-align: center;
}

.submitBtn {
  font-size: 1.4em;
}

#notas {
  padding: 10px;
  background-color: #dddddd;
  border-radius: 5px;
}

mat-form-field {
  width: 100%;
}

/* Para la animación de girar la tarjeta */

/*
.tp-wrapper {
  -webkit-perspective: 800px;
  perspective: 800px;
}
*/

.tp-box {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}
.tp-box__side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /*
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  height: 0px;
}
