<div class="contenedor-login">
  <div>
    <h2>Sign In:</h2>
  </div>
  <div>
    <img
      src="assets/escuela_escudo.png"
      alt="Job Offers"
      height="150px"
      width="150px"
    />
  </div>
  <div>
    <h3>{{ mensaje }}</h3>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <div>
      <label for="email">Email:</label>
      <input type="email" formControlName="email" required size="50" />
    </div>
    <div class="validaciones">
      <div *ngIf="loginForm.dirty && isSubmitted">
        <div *ngIf="email.errors != null && email.errors.required">
          El email es obligatorio
        </div>
        <div *ngIf="email.errors != null && email.errors.email">
          El email no tiene un formato válido
        </div>
        <div *ngIf="email.errors != null && email.errors.minlength">
          La longitud debe ser al menos 10 caracteres
        </div>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" formControlName="password" required />
    </div>
    <div class="validaciones">
      <div *ngIf="loginForm.dirty && isSubmitted">
        <div *ngIf="password.errors != null && password.errors.required">
          El password es obligatorio
        </div>
        <div *ngIf="password.errors != null && password.errors.minlength">
          La longitud debe ser al menos 4 caracteres
        </div>
      </div>
    </div>
    <div class="contenedor-botones">
      <!-- Si hay cualquier error de validación en alguno de los dos campos, deshabilitamos el boton submit -->
      <button
        type="submit"
        class="submitBtn"
        [disabled]="email.errors || password.errors"
      >
        Login
      </button>
    </div>
    <div class="contenedor-botones">
      <button type="button" routerLink="/forgot-password">
        Remember password
      </button>
    </div>
  </form>
  <div id="notas">
    <div><h3>Usuarios de pruebas</h3></div>
    <div>carlos.caballero@gmail.com / 1234</div>
    <div>guangle@gmail.com / 1234</div>

    <div><h3>Empresas de prueba</h3></div>
    <div>rrhh@fujitsu.es / 1234</div>
    <div>rrhh@everis.es / 1234</div>

    <div>
      <a [routerLink]="['/notes']">
        Consulta las notas de la implementación
      </a>
    </div>
  </div>
</div>
