<div class="container">
  <app-navbar title="Ofertas"></app-navbar>

  <div class="row">
    <div>
      <h3>Filtros (Pdentes de estilos)</h3>
    </div>
    <div>
      <span><b>Pendientes para las siguientes PECS -- </b></span>
      Provincia:
      <select
        ><option>Pendiente</option
        ><option>Pendiente</option
        ><option>Pendiente</option></select
      >
      Fecha: <input type="date" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">work</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Ofertas disponibles</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Puesto</th>
                  <th>Empresa</th>
                  <th>Familia profesional</th>

                  <th>Fecha</th>
                  <th>Ubicación</th>
                  <th class="text-right">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let offer of offers$ | async">
                  <td>
                    {{ offer.job?.name }}
                  </td>
                  <td>
                    {{ offer.company?.name }}
                  </td>
                  <td>
                    {{ offer.category?.name }}
                  </td>
                  <td>
                    {{ offer.date }}
                  </td>
                  <td>
                    {{ offer.province?.name }} / {{ offer.municipe?.name }}
                  </td>

                  <td class="text-right">
                    <a [routerLink]="" (click)="offerDetail(offer)">
                      Detalle
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
