/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}
header {
  height: 50px;
  background-color: #dddddd;
  text-align: center;
  padding-top: 20px;
  span {
    font-size:1.3em;
    display:block
  }
  small {
    font-size:0.8em;
    display:block
  }
}
