<div class="contenedor-login">
  <div>
    <h2>¿Has olvidado tu contraseña?</h2>
  </div>
  <div>
    <img
      src="assets/escuela_escudo.png"
      alt="Job Offers"
      height="150px"
      width="150px"
    />
  </div>
  <div id="notas">
    <div><h3>Recuperación de contraseña</h3></div>
    <div>
      <p>
        Si has olvidado tu contraseña introduce tu correo electrónico y te
        enviaremos un email con un enlace para que puedas restablecer tus claves
        de acceso
      </p>
    </div>
  </div>
  <div
    *ngIf="{
      authMessageSelector: authMessageSelector$ | async,
      rememberStatusSelector: rememberStatusSelector$ | async
    } as data"
  >
    <div *ngIf="data.rememberStatusSelector">
      <div class="contenedor-info-remember">
        {{ data.authMessageSelector }}
        <small>STATUS: {{ data.rememberStatusSelector }}</small>
        <button (click)="volverSignin()">Volver</button>
      </div>
    </div>

    <div *ngIf="!data.rememberStatusSelector">
      <form [formGroup]="recoverForm" (ngSubmit)="sendRecover()">
        <div>
          <label for="email">Email:</label>
          <input type="email" formControlName="email" required size="50" />
        </div>
        <div class="validaciones">
          <div *ngIf="recoverForm.dirty && isSubmitted">
            <div *ngIf="email.errors != null && email.errors.required">
              El email es obligatorio
            </div>
            <div *ngIf="email.errors != null && email.errors.email">
              El email no tiene un formato válido
            </div>
            <div *ngIf="email.errors != null && email.errors.minlength">
              La longitud debe ser al menos 10 caracteres
            </div>
          </div>
        </div>

        <div class="contenedor-botones">
          <!-- Si hay cualquier error de validación en alguno de los dos campos, deshabilitamos el boton submit -->
          <button type="submit" class="submitBtn" [disabled]="email.errors">
            Recuperar contraseña
          </button>
        </div>
        <div class="contenedor-botones">
          <button type="button" (click)="volverSignin()">
            Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
