<div class="background"></div>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h4>Recuperación de contraseña</h4>
            <div class="social-btns">
              <img
                width="100px"
                height="100px"
                src="assets/img/escuela_escudo.png"
              />
            </div>
          </div>
          <p class="tip">
            Si has olvidado tu contraseña introduce tu correo electrónico y te
            enviaremos un email con un enlace para que puedas restablecer tus
            claves de acceso
          </p>

          <div
            *ngIf="{
              authMessageSelector: authMessageSelector$ | async,
              rememberStatusSelector: rememberStatusSelector$ | async
            } as data"
          >
            <div *ngIf="data.rememberStatusSelector">
              <div class="contenedor-info-remember">
                {{ data.authMessageSelector }}
                <small>STATUS: {{ data.rememberStatusSelector }}</small>
                <div style="text-align: center;">
                  <button mat-button (click)="volverSignin()">Volver</button>
                </div>
              </div>
            </div>

            <div *ngIf="!data.rememberStatusSelector">
              <form [formGroup]="recoverForm" (ngSubmit)="sendRecover()">
                <div class="card-form">
                  <div class="form-row">
                    <i class="material-icons">email</i>
                    <mat-form-field color="accent">
                      <input
                        type="text"
                        matInput
                        placeholder="Correo electrónico"
                        formControlName="email"
                        required
                        size="50"
                      />

                      <mat-error
                        *ngIf="
                          email.invalid &&
                          email.errors != null &&
                          email.errors.required
                        "
                      >
                        El email es obligatorio
                      </mat-error>
                      <mat-error
                        *ngIf="
                          email.invalid &&
                          email.errors != null &&
                          email.errors.email
                        "
                      >
                        El email no tiene un formato válido
                      </mat-error>
                      <mat-error
                        *ngIf="
                          email.invalid &&
                          email.errors != null &&
                          email.errors.minlength
                        "
                      >
                        La longitud debe ser al menos 10 caracteres
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="card-footer">
                  <button mat-button type="button" (click)="volverSignin()">
                    Volver
                  </button>
                  <!-- Si hay cualquier error de validación en alguno de los dos campos, deshabilitamos el boton submit -->
                  <button
                    color="accent"
                    md-raised-button
                    class="btn btn-rose"
                    type="submit"
                    [disabled]="email.errors"
                  >
                    Recuperar contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
