<div class="container">
  <app-navbar title="Idiomas"></app-navbar>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">school</i>
        </div>
        <div class="card-content">
          <h4 class="card-title" *ngIf="!inEditMode()">
            Nueva formación
          </h4>
          <h4 class="card-title" *ngIf="inEditMode()">
            Editar formación
          </h4>

          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="editStudyForm" (ngSubmit)="submitStudy()">
                <!-- Tipo -->

                <div class="row">
                  <div class="col-md-offset-1 col-md-6">
                    <mat-form-field color="accent">
                      <mat-label>Tipo</mat-label>
                      <mat-select formControlName="level" placeholder="Tipo">
                        <mat-option
                          *ngFor="let t of tipos_titulos"
                          [value]="t.uid"
                        >
                          {{ t.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Tipo = univiversidad-->
                <div class="row" *ngIf="level.value == 2">
                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        formControlName="universidad_centro"
                        placeholder="Nombre del centro"
                      />
                      <mat-error
                        *ngIf="
                          universidad_centro.invalid &&
                          universidad_centro.errors != null &&
                          universidad_centro.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        formControlName="universidad_titulo"
                        placeholder="Título"
                      />
                      <mat-error
                        *ngIf="
                          universidad_titulo.invalid &&
                          universidad_titulo.errors != null &&
                          universidad_titulo.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <input
                        type="date"
                        matInput
                        formControlName="universidad_fecha"
                        placeholder="Fecha:"
                      />
                      <mat-error
                        *ngIf="
                          universidad_fecha.invalid &&
                          universidad_fecha.errors != null &&
                          universidad_fecha.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-offset-1 col-md-11">
                    <mat-checkbox formControlName="universidad_bilingue"
                      >¿Bilingüe?</mat-checkbox
                    >
                  </div>
                </div>

                <!-- Tipo = otro -->

                <div class="row" *ngIf="level.value == 3">
                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <input
                        matInput
                        type="text"
                        formControlName="otro_titulo"
                        placeholder="Título"
                      />
                      <mat-error
                        *ngIf="
                          otro_titulo.invalid &&
                          otro_titulo.errors != null &&
                          otro_titulo.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- Tipo = grado -->
                <div class="row" *ngIf="level.value == 1">
                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <mat-label>Centro educativo</mat-label>
                      <mat-select
                        formControlName="ciclo_centro"
                        placeholder="Centro educativo"
                      >
                        <mat-option
                          *ngFor="let t of centros_educativos"
                          [value]="t.uid"
                        >
                          {{ t.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          ciclo_centro.invalid &&
                          ciclo_centro.errors != null &&
                          ciclo_centro.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <mat-label>Familia profesional</mat-label>
                      <mat-select
                        formControlName="ciclo_familia"
                        placeholder="Familia profesional"
                        (selectionChange)="changeCiclo($event)"
                      >
                        <mat-option
                          *ngFor="let t of familias_profesionales"
                          [value]="t.uid"
                        >
                          {{ t.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          ciclo_familia.invalid &&
                          ciclo_familia.errors != null &&
                          ciclo_familia.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <mat-label>Tipo de grado</mat-label>
                      <mat-select
                        formControlName="ciclo_grado"
                        placeholder="Tipo de grado"
                        (selectionChange)="changeCiclo($event)"
                      >
                        <mat-option
                          *ngFor="let t of tipos_grado"
                          [value]="t.uid"
                        >
                          {{ t.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          ciclo_grado.invalid &&
                          ciclo_grado.errors != null &&
                          ciclo_grado.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <mat-label>Ciclo</mat-label>
                      <mat-select
                        formControlName="ciclo_ciclo"
                        placeholder="Ciclo"
                      >
                        <mat-option *ngFor="let t of ciclos" [value]="t.uid">
                          {{ t.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          ciclo_ciclo.invalid &&
                          ciclo_ciclo.errors != null &&
                          ciclo_ciclo.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-offset-1 col-md-11">
                    <mat-form-field color="accent">
                      <input
                        type="date"
                        matInput
                        formControlName="ciclo_fecha"
                        placeholder="Fecha:"
                      />
                      <mat-error
                        *ngIf="
                          ciclo_fecha.invalid &&
                          ciclo_fecha.errors != null &&
                          ciclo_fecha.errors.required
                        "
                      >
                        El campo es obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-offset-1 col-md-11">
                    <mat-checkbox formControlName="ciclo_dual"
                      >¿Formacion dual?</mat-checkbox
                    >
                  </div>

                  <div class="col-md-offset-1 col-md-11">
                    <mat-checkbox formControlName="ciclo_bilingue"
                      >¿Bilingüe?</mat-checkbox
                    >
                  </div>
                </div>

                <div class="row action-btn-center">
                  <button
                    md-raised-button
                    class="btn btn-rose"
                    [disabled]="!editStudyForm.valid"
                    type="submit"
                  >
                    Guardar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenedor"></div>
