<div class="contenedor">
  <div class="row-header">
    <h1>
      Editar Perfil
    </h1>
    <a [routerLink]="['/admin/profile']">
      Volver al perfil
    </a>
  </div>

  <div id="contenidoFormulario" >
    <div id="colFoto" >
      <img src="assets/user.png" alt="User" height="150px" width="150px" />
      <span id="profile_name"> {{ user.name }} {{ user.surname }} </span>
    </div>
    
    <div id="colDatos">
      <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
      
        <div class="fila-form" >
          <div class="fila-form-col">
            <label for="name">Nombre:</label> <input type="text" formControlName="name" >
          </div>
          <div class="fila-form-col">
            <label for="apellidos">Apellidos:</label> <input type="text" formControlName="surname" >
          </div>
        </div>
        <div class="fila-form" >
          <div class="fila-form-col">
            <label for="birthdate">Fecha de nacimiento:</label> <input type="date">
          </div>
        </div>
        <div class="fila-form" >
          <div class="fila-form-col">
            Teléfono: <input type="text">
          </div>
          <div class="fila-form-col">
            Teléfono 2: <input type="text">
          </div>
        </div>
        <div class="fila-form" >
          
          Dirección: <input type="text" size="50"  >
          
        </div>
        <div class="fila-form" >
          <div class="fila-form-col">
            Provincia: <input type="text">
          </div>
          <div class="fila-form-col">
            Municipio: <input type="text">
          </div>
        </div>
        <div class="fila-form" >
          
          Permiso de conducir: <input type="text" size="50"  >
          
        </div>
        <div class="fila-form" >
          
          Sobre mi: <input type="text" size="50"  >
          
        </div>
        <div class="fila-form" >
          
          Otras competencias: <input type="text" size="50"  >
          
        </div>
        <div class="fila-form contenedor-botones" >
          
          <button type="submit">Guardar</button>
          
        </div>
      </form>
    </div>
  </div>

</div>

<!--
    Ejemplo de iterar sobre los usuarios
<div align='center'><h1>CRUD with Angular</h1></div>


<table class ="table">
  <tr *ngFor="let u of users">
    <td>
      {{u.id}}
    </td>
    <td>
      {{u.name}}
    </td>
    <td>
      {{u.age}}
    </td>
    <td>  
      <button class= 'btn btn-info' (click)="updateUser()"> UPDATE DATA</button>
    </td>
  </tr>
</table>

-->
