<div class="contenedor">
  <div class="row-header">
    <h1>
      Editar Perfil
    </h1>
    <a [routerLink]="['/admin/profile']">
      Volver al perfil
    </a>
  </div>

  <div id="contenidoFormulario" >
    <div id="colFoto" >
      <img src="assets/user.png" alt="User" height="150px" width="150px" />
      <span id="profile_name"> {{ user.name }} {{ user.surname }} </span>
    </div>
    <div id="colDatos">d</div>
  </div>

</div>

<!--
    Ejemplo de iterar sobre los usuarios
<div align='center'><h1>CRUD with Angular</h1></div>


<table class ="table">
  <tr *ngFor="let u of users">
    <td>
      {{u.id}}
    </td>
    <td>
      {{u.name}}
    </td>
    <td>
      {{u.age}}
    </td>
    <td>  
      <button class= 'btn btn-info' (click)="updateUser()"> UPDATE DATA</button>
    </td>
  </tr>
</table>

-->
