<div class="contenedor">
  <div class="row-header">
    <h1>
      Datos personales (
      <a [routerLink]="['/admin/edit-profile']">
        Editar
      </a>
      )
    </h1>
    <a [routerLink]="['/admin/dashboard']">
      Volver al dashboard
    </a>
  </div>
  <div class="row-datos">
    <div id="foto">
      <img src="assets/user.png" alt="User" height="150px" width="150px" />
      <span id="profile_name"> {{ user.name }} {{ user.surname }} </span>
    </div>
    <div id="datos-basicos">
      <div>
        Email: <span>{{ user.email }}</span>
      </div>
      <div>
        Fecha de nacimiento: <span>{{ user.birthdate }} </span>
      </div>
      <div>
        Teléfono: <span>{{ user.phone }} </span>
      </div>
      <div>
        {{ user.documentType.name }}: <span>{{ user.documentNumber }}</span>
      </div>
      <div>
        Permisos de conducir: <span>{{ user.license }}</span>
      </div>
    </div>
    <div class="acerca-de acerca-de-1">
      <span>Acerca de mi: </span
      ><textarea rows="6" cols="35" readonly> {{ user.aboutMe }}</textarea>
    </div>
    <div class="acerca-de acerca-de-2">
      <span>Otras competencias:</span
      ><textarea rows="6" cols="35" readonly>
 {{ user.otherCompetences }}</textarea
      >
    </div>
  </div>
  <div>
    <h2>
      Formación académica (
      <a [routerLink]="" (click)="newStudy()">
        Nueva
      </a>
      )
    </h2>
    <table>
      <thead>
        <tr>
          <th>Nivel</th>
          <th>Título</th>
          <th>Centro</th>
          <th>Fecha</th>
          <th>Certificado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formacion of (currentUser$ | async)?.studies">
          <td>
            {{ formacion.level?.name }}
          </td>
          <td>
            {{ formacion.title?.name }}
          </td>
          <td>
            {{ formacion.institution?.name }}
          </td>
          <td>
            {{ formacion.date }}
          </td>
          <td><small>(pdte pec de manejo de ficheros)</small></td>
          <td>
            <a [routerLink]="" (click)="editStudy(formacion)">
              Editar new ngrx
            </a>
            <a [routerLink]="" (click)="deleteStudies(formacion)">
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>
      Experiencia laboral (
      <a [routerLink]="" (click)="newExperience()">
        Nueva
      </a>
      )
    </h2>
    <table>
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Puesto</th>
          <th>Fechas</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experiencia of (currentUser$ | async)?.experiencies">
          <td>
            {{ experiencia.empresa }}
          </td>
          <td>
            {{ experiencia.puesto }}
          </td>
          <td>
            Desde {{ experiencia.date_inicio }} hasta {{ experiencia.date_fin }}
          </td>
          <td>
            <a
              [routerLink]="['/admin/edit-experience']"
              [queryParams]="{ id: experiencia.uid }"
            >
              Editar
            </a>
            <a [routerLink]="" (click)="deleteExperience(experiencia)">
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>
      Idiomas (
      <a [routerLink]="['/admin/edit-languages']">
        Nuevo
      </a>
      )
    </h2>
    <table>
      <thead>
        <tr>
          <th>Nivel</th>
          <th>Idioma</th>
          <th>Fecha</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of user.languages">
          <td>
            {{ l.level.name }}
          </td>
          <td>
            {{ l.name.name }}
          </td>
          <td>
            {{ l.date }}
          </td>
          <td>
            <a
              [routerLink]="['/admin/edit-languages']"
              [queryParams]="{ id: l.uid }"
            >
              Editar
            </a>
            <a [routerLink]="" (click)="deleteLanguaje(l.uid)">
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
