<div class="contenedor">
  <div class="row-header">
    <h1>
      Datos personales (
      <a [routerLink]="['/admin/edit-profile']">
        Editar
      </a>
      )
    </h1>
    <a [routerLink]="['/admin/dashboard']">
      Volver al dashboard
    </a>
  </div>
  <div class="row-datos">
    <div id="foto">
      <img src="assets/user.png" alt="User" height="150px" width="150px" />
      <span id="profile_name">
        {{ (currentUser$ | async)?.name }} {{ (currentUser$ | async)?.surname }}
      </span>
    </div>
    <div id="datos-basicos">
      <div>
        Email: <span>{{ (currentUser$ | async)?.email }}</span>
      </div>
      <div>
        Fecha de nacimiento:
        <span>{{ (currentUser$ | async)?.birthdate }} </span>
      </div>
      <div>
        Teléfono: <span>{{ (currentUser$ | async)?.phone }} </span>
      </div>
      <div>
        {{ (currentUser$ | async)?.documentType.name }}:
        <span>{{ (currentUser$ | async)?.documentNumber }}</span>
      </div>
      <div>
        Permisos de conducir: <span>{{ (currentUser$ | async)?.license }}</span>
      </div>
    </div>
    <div class="acerca-de acerca-de-1">
      <span>Acerca de mi: </span
      ><textarea rows="6" cols="35" readonly>
 {{ (currentUser$ | async)?.aboutMe }}</textarea
      >
    </div>
    <div class="acerca-de acerca-de-2">
      <span>Otras competencias:</span
      ><textarea rows="6" cols="35" readonly>
 {{ (currentUser$ | async)?.otherCompetences }}</textarea
      >
    </div>
  </div>
  <div>
    <h2>
      Formación académica (
      <a [routerLink]="" (click)="newStudy()">
        Nueva
      </a>
      )
    </h2>
    <table>
      <thead>
        <tr>
          <th>Nivel</th>
          <th>Título</th>
          <th>Centro</th>
          <th>Fecha</th>
          <th>Certificado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formacion of (currentUser$ | async)?.studies">
          <td>
            {{ formacion.level?.name }}
          </td>
          <td>
            {{ formacion.title?.name }}
          </td>
          <td>
            {{ formacion.institution?.name }}
          </td>
          <td>
            {{ formacion.date }}
          </td>
          <td><small>(pdte pec de manejo de ficheros)</small></td>
          <td>
            <a [routerLink]="" (click)="editStudy(formacion)">
              Editar
            </a>
            <a
              *ngIf="currentUser$ | async as user"
              [routerLink]=""
              (click)="deleteStudies(user, formacion)"
            >
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>
      Experiencia laboral (
      <a [routerLink]="" (click)="newExperience()">
        Nueva
      </a>
      )
    </h2>
    <table>
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Puesto</th>
          <th>Fechas</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experiencia of (currentUser$ | async)?.experiencies">
          <td>
            {{ experiencia.empresa }}
          </td>
          <td>
            {{ experiencia.puesto }}
          </td>
          <td>
            Desde {{ experiencia.date_inicio }} hasta {{ experiencia.date_fin }}
          </td>
          <td>
            <a [routerLink]="" (click)="editExperience(experiencia)">
              Editar
            </a>
            <a
              *ngIf="currentUser$ | async as user"
              [routerLink]=""
              (click)="deleteExperience(user, experiencia)"
            >
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>
      Idiomas (
      <a [routerLink]="" (click)="newLanguage()">
        Nuevo
      </a>
      )
    </h2>
    <table>
      <thead>
        <tr>
          <th>Nivel</th>
          <th>Idioma</th>
          <th>Fecha</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of (currentUser$ | async)?.languages">
          <td>
            {{ l.level.name }}
          </td>
          <td>
            {{ l.name.name }}
          </td>
          <td>
            {{ l.date }}
          </td>
          <td>
            <a [routerLink]="" (click)="editLanguage(l)">
              Editar
            </a>
            <a
              *ngIf="currentUser$ | async as user"
              [routerLink]=""
              (click)="deleteLanguaje(user, l)"
            >
              Eliminar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
